@using WebsiteDichVuDiChoThueCDIO4.Models
@model IEnumerable<CHITIETDONHANG>

@{
    ViewBag.Title = "ChiTietDonHang";
    Layout = "~/Views/Layout/HomeLayout.cshtml";
}

<h2>Chi tiết đơn hàng của tôi</h2>

    <div class="check">

        <div class="col-md-9 cart-items">
            @{int sum = 0; }
            @foreach (var item in Model)
            {
                <div class="cart-header">
                    @*<div class="close1">  </div>*@
                    <div class="cart-sec simpleCart_shelfItem">
                        <div class="cart-item cyc">
                            <img src="@Url.Content("~/Content/images/"+item.HINHANH)" class="img-responsive" alt="">
                        </div>
                        <div class="cart-item-info">
                            <h3><a href="#"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">@item.TENSP</font></font></a><span><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Mẫu số: @item.SP_ID</font></font></span></h3>
                            <ul class="qty">
                                <li><p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Giá sản phẩm: @item.DONGIA</font></font></p></li>
                                <li><p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Số lượng: @item.SOLUONGSP</font></font></p></li>


                            </ul>

                            <div class="delivery">

                                <p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Giá sản phẩm: @((item.DONGIA.GetValueOrDefault(0) * item.SOLUONGSP).Value.ToString("#,##"))</font></font></p>
                                <span><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Được giao sau 2-3 ngày làm việc</font></font></span>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        @{sum = sum + Convert.ToInt32(item.DONGIA.GetValueOrDefault(0) * item.SOLUONGSP);}
                    </div>
                </div>
            }



        </div>

        
