@model WebsiteDichVuDiChoThueCDIO4.Models.LoginModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Layout/HomeLayout.cshtml";
}




@Html.AntiForgeryToken()

<div class="form-horizontal">
    <h3>Đăng Nhập</h3>




    @using (Html.BeginForm("Login", "Login", FormMethod.Post))
    {
        @Html.ValidationSummary(false, "", "error")
        <div class="form-group">

            <div class="col-md-10">
                @Html.TextBoxFor(model => model.UserName, new { @class = "form-control", @autofocus = "autofocus" })
            </div>
        </div>

        <div class="form-group">

            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Password, new { @class = "form-control", @autofocus = "autofocus" })
            </div>
        </div>

        <div class="form-group">

            <div class="col-md-10">
                <div class="checkbox">
                    @Html.CheckBoxFor(model => model.RememberMe)
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button type="submit" value="Đăng nhập" class="btn btn-default"> Đăng Nhập </button>
            </div>
        </div>

    }

</div>


<div>

</div>
